@font-face {
    font-family: "TTLakes-Regular";
    src: url("./fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
    font-family: "TT Bold";
    src: url("./fonts/TTLakes-ExtraBold.woff") format("woff");
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  button:hover {
    scale: 0.9;
  }

body {
    font-family: "TTLakes-Regular";
    width: 100%;
    background-size: 100%;
    background-color: #f8f8f8;
}

.nobullet {
    list-style-type: none;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #fff; 
    border-bottom: 2px solid #D9FFF5;
    padding-bottom: 5px;
    padding-top: 5px;
}

.burger {
    margin-top: 5px;
    margin-right: 16px;
    margin-left: 16px;
}

.logo {
    margin-bottom: 3px;
}

.status {
    margin-top: 5px;
    margin-right: 16px;
   
}

.repair {
    margin-top: 5px;
    margin-right: 16px;
    margin-left: 16px;
    
} 

.header-left {
    margin-top: 10px;
}

.header-right {
    margin-top: 10px;
}

.service-list {
    justify-content: space-between;
    white-space: nowrap;
    font-size: 16px;
    overflow: auto;
    margin-top: 20px;
}

.service-list_item {
    width: fit-content;
    display: inline;
    border: 10px solid;
    border-left: 10px;
    border-color: #f8f8f8;
    line-height: 24px;
    margin-left: 20px;
}

.service-list::-webkit-scrollbar { 
    display: none;
}

.service-list_item a {
    text-decoration: none;
    color: #7E7E82;
}

.service-list_item  a:focus {
    border: 2px solid #B8FFEC;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

p {
    font-family: "TTLakes-Regular";
    width: 90%;
    margin-left: 15px;
    font-size: 14px;
    margin-top: 10px;
}

h1 {
    font-family: "TT bold";
    margin-top: 20px;
    margin-left: 15px;
    font-size: 28px;
    display: inline-block;
}

main {
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0 5px 5px 0;
    left: 0;
    top: 15px;
}

.logo::after {
    content: url(./img/divider.png);
    position: absolute;
    left: 188px;
    top: 24px;
    width: 10px;
    height: 10px;
}

.call {
    display: none;
}

.chat {
    display: none;
}

.profile {
    display: none;
}


.button {
    font-family: "TTLakes-Regular";
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
    margin-left: 20px;
}

.button::before {
    content: url(./img/ic/icon.png);
    padding-right: 12px;
}

.header-right--1120px {
    display: none;
    font-size: 16px;
    font-weight: 600;
}

#repair::after {
    content: '';
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    width: 24px;
    height: 40px;
    right: 0;
}


@media (min-width: 768px) {

    .logo::after {
        content: url(./img/divider.png);
        position: absolute;
        left: 70px;
        top: 25px;
        width: 10px;
        height: 10px;
    }
    .logo {
        margin-bottom: 3px;
        margin-left: 15px;
    }

    .header-right {
        margin-right: 5px;
    }
    
    .description {
        display: flex;
    }

    .button {
        position: absolute;
        top: 320px;
    }

    .down-photo {
        width: 50%;
        margin-left: 20px;
        border-radius: 5px; 
        margin-right: 20px;
    }

    .call {
        display: inline;
        margin-top: 5px;
        margin-right: 30px;
    }

    .chat {
        display: inline;
        margin-top: 5px;
        margin-right: 16px;
    }

    .profile {
        display: inline;
        margin-top: 5px;
        margin-right: 16px;
    }
    
    .call::after {
        content: url(./img/divider.png);
        position: absolute;
        top: 25px;
        right: 140px;

    }

}

@media (min-width: 1120px) {

    body {
        padding-right: 20px;
    }


    .service-list {
        margin-right: 15px;
    }

    .header {
        border: 0;
        padding: 0;
    }


    .header-left {
        display: none;
    }


    .chat {
        display: none;
    }

    .profile {
        display: none;
    }
    
    .call {
        display: none;
    }
    h1 {
        margin-top: 30px;
    }
    
    h1::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 0 5px 5px 0;
        left: 0;
        top: 28px;
    }

    .button {
        position: absolute;
        top: 300px;
    }

    p {
        margin-top: 30px;
    }

    .down-photo {
        max-width: 530px;
        margin-top: 30px;
        border-radius: 5px;
    }
 
    .status {
        display: block;
    }

    .header-right {
        position: absolute;
        z-index: 1;
        right: 5px;
        display: flex;
        justify-content: right;
    }

    .header-right a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .header-right img {
        position: relative;
        top: 15px;
    }

    .header-right--1120px {
        display: inline;
    }

    h1::after {
        display: none;
    }

}

@media (min-width: 1121px) {

.container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.header-right {
    position: absolute;
    right: inherit;
    width: 1120px;
}

        
}
       

